.box-wrapper {
    padding-left: 100px;
}

.box-container {
    display: flex;
    background-color: #5e7982;
    opacity: 90%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 900px;
    height: 100px;
    border: 1px #fcfffd;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fcfffd;
    padding: 10px
}

.cdc-button {
    border-color: #fcfffd;
}

.btn {
    width: 130px;
    height: 50px;
    background-color:  #fcfffd;
    padding: 50px
}