.outer-left-panel{
    background-color:"#92DAD4";
    width:30%;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    justify-items: space-around;

}

.leftPanel-text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 45px;
    padding-top: 50px;
}

.leftPanel-form {
    margin: auto;
    padding: 45px;
}

.outer-right-panel{
    width:50%;
}

.rightPanel {
    display: flex;
    flex-direction: column;
}
