#background-login {
    background-color: #3AAFA9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#login-form {
    background-color: #DEF2F1;
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 60%;
}

#google {
    margin-top: 20px;
}


